.finalizada {
    color: gray;
    text-decoration: line-through;
}

.form-alta {
    max-width: 600px;
    text-align: center;
}

.mayusc {
    text-transform: capitalize;

}

input,
textarea {
    margin-bottom: 15px;
}

body {
    background-image: url("../img/videojuego.jpg");
    width: 80%;
}

h1,
h2,
h4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #454138;
    font-size: 48px;
}

.inicio {
    text-align: center;
    padding: 15% 5% 0 5%;
}

.botones-inicio {
    padding-top: 2%;
}